.page {
    height: 100svh;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
}

.page > :last-child {
    align-self: stretch;
    justify-self: stretch;

    display: grid;
    place-items: center;

    padding: var(--element-padding);
    padding-bottom: 16px;
    flex: 1 0 0;
}

.page > :last-child button {
    border: none;
    color: var(--color-surface-text);
    background: var(--color-continue);

    padding: var(--element-padding);
    border-radius: 8px;

    font-size: 1rem;
    font-weight: bold;

    width: 33%;
}

.page > :last-child button:hover, .page > :last-child button:focus-within {
    background: var(--color-continue-discover);
}

.page > :last-child button:active {
    background: var(--color-continue-active);
}

.snippets {
    display: flex;
    padding: var(--element-padding);

    align-self: stretch;

    gap: 16px;

    justify-content: center;
}

.snippets > * {
    max-width: 100ch;
    width: 33%;
    height: 90svh;
}

@media (max-width: 1850px) {
    .snippets {
        flex-direction: column;
        align-items: center;
        justify-content: unset;

        gap: 48px;
    }

    .snippets > * {
        width: 80ch;
        max-width: 100%;
    }

    .page > :last-child button {
        width: 100%;
        max-width: calc(74ch - 32px);
    }

    .page {
        gap: 48px;
    }
}
