.placeholder, .page {
    padding: var(--page-padding);
    height: calc(100svh - 64px);
}

.placeholder {
    display: grid;
    place-items: center;
}

.placeholder > div {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 32px;
}

.page {
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
}

.continue {
    align-self: stretch;

    display: grid;
    place-items: center;
}

.continue button:disabled {
    opacity: 70%;
    filter: saturate(0.4);
}

@media (prefers-color-scheme: dark) {
    .continue button:disabled {
        opacity: 50%;
        filter: saturate(0.5);
    }
}

.continue > * {
    width: 33%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25lh;
}

.continue button {
    border: none;
    color: var(--color-surface-text);
    background: var(--color-continue);

    padding: var(--element-padding);
    border-radius: 8px;

    font-size: 1rem;
    font-weight: bold;

    width: 100%;
}

.continue button:not(:disabled):hover, .continue button:not(:disabled):focus-within {
    background: var(--color-continue-discover);
}

.continue button:not(:disabled):active {
    background: var(--color-continue-active);
}

.snippets {
    display: flex;
    align-self: stretch;

    gap: 16px;

    justify-content: center;
    overflow: hidden;

    flex: 1;
}

.snippets > * {
    max-width: 100ch;
    width: 33%;
}

.issue {
    min-height: 1lh;
    color: var(--color-error);
}

.referenceToggle {
    outline: none;

    position: fixed;
    bottom: 32px;
    align-self: flex-end;

    padding: var(--element-padding);
    border-radius: 8px;

    border: 1px solid var(--color-text);

    box-shadow: 1px 1px 3px 1px hsl(0, 0%, 50%);

    font-size: 0.9rem;
}

.referenceToggle:hover, .referenceToggle:focus {
    box-shadow: 1px 1px 3px 1px hsl(0, 0%, 15%);
}

@media (prefers-color-scheme: dark) {
    .referenceToggle {
        background: hsl(0, 0%, 37.5%);

        border-color: hsl(0, 0%, 80%);
        box-shadow: 1px 1px 3px 1px hsl(0, 0%, 80%);
    }

    .referenceToggle:hover, .referenceToggle:focus {
        box-shadow: 1px 1px 3px 1px hsl(0, 0%, 100%);
    }
}

.referenceToggle:active {
    box-shadow: none;
}

@media (max-width: 1850px) {
    .snippets {
        flex-direction: column;
        align-items: center;
        justify-content: unset;

        gap: 48px;

        overflow: visible;
    }

    .snippets > * {
        width: 80ch;
        max-width: 100%;
        max-height: 85svh;
    }

    .continue > * {
        width: 100%;
        max-width: 74ch;
    }

    .page {
        gap: 48px;
    }

    .referenceToggle {
        position: sticky;
        bottom: 0;
    }
}
