.ratingPicker * {
    line-height: 1;
}

.ratingPicker button, .ratingPicker button *{
    user-select: none;

    outline: none;
    border: none;

    height: 2rem;
    font-size: 2rem;
}

.ratingPicker button:focus-within:not(:disabled) > span, .ratingPicker button:hover:not(:disabled) > span {
    color: var(--color-focus);
}

.active {
    color: hsl(50, 100%, 40%) !important;
    font-variation-settings: 'FILL' 1;
}

@media (prefers-color-scheme: dark) {
    .active {
        color: hsl(55, 90%, 50%) !important;
    }
}
