:root {
  --color-continue: hsl(89, 75%, 40%);
  --color-continue-discover: hsl(89, 75%, 35%);
  --color-continue-active: hsl(89, 75%, 25%);
  --color-surface-text: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 100%);
  --color-text: hsl(0, 0%, 0%);
  --color-link: hsl(208, 70%, 40%);
  --color-primary: hsl(212, 60%, 45%);
  --color-button-inactive: hsl(212, 10%, 90%);
  --color-focus: hsl(212, 70%, 65%);

  --color-input: hsl(212, 0%, 92%);


  --element-padding: 8px 16px;

  --page-padding: 32px 16px;
  --page-text-width: 80ch;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-continue: hsl(89, 60%, 45%);
    --color-continue-discover: hsl(89, 60%, 35%);
    --color-continue-active: hsl(89, 60%, 30%);
    --color-background: hsl(0, 0%, 15%);
    --color-text: hsl(0, 0%, 100%);
    --color-link: hsl(208, 80%, 80%);
    --color-button-inactive: hsl(212, 10%, 45%);
    --color-input: hsl(212, 0%, 40%);
  }
}

*:not(.gist *) {
  margin: 0;
  padding: 0;

  color: var(--color-text);
  background-color: var(--color-background);

  line-height: 1.5;

}

a:not(.gist *) {
  color: var(--color-link);
  font-size: 1rem;
}

p:not(.gist *) {
  font-size: 1rem;
}

.gist .gist-meta > :nth-child(1), .gist .gist-meta > :nth-child(2) {
  display: none;
}

.gist, .gist .gist-file {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.gist .gist-data {
  flex: 1 1 0;
  overflow: auto;
}
