.startLink {
    background: var(--color-continue);
    text-decoration: none;
    color: var(--color-surface-text) !important;

    font-weight: bold;

    padding: var(--element-padding);

    border-radius: 8px;
    outline: none;
}

.startLink:hover, .startLink:focus {
    background: var(--color-continue-discover);
}

.startLink:active {
    background: var(--color-continue-active);
}

.main {
    padding: var(--page-padding);
    display: flex;
    flex-direction: column;
    gap: 24px;

    align-items: baseline;

    max-width: var(--page-text-width);

    margin: auto;
}

.main p, .main li {
    text-align: justify;
}

.main ol {
    display: flex;
    flex-direction: column;
    gap: 8px;

    align-items: baseline;

    padding: var(--element-padding);
    padding-bottom: 0;
    padding-right: 0;
}


.main header h2 {
    font-size: 1.1rem;
}
